# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WarHeroes/proj.win32/WarHeroes.v12.suo
WarHeroes/proj.win32/WarHeroes.sdf
WarHeroes/proj.win32/WarHeroes.opensdf
WarHeroes/proj.win32/debug.win32/*
WarHeroes/proj.win32/WarHeroes.v12.suo
WarHeroes/proj.win32/Debug.win32/WarHeroes.log
WarHeroes/proj.win32/Debug.win32/WarHeroes.tlog/CL.read.1.tlog
WarHeroes/proj.win32/Debug.win32/WarHeroes.lib
WarHeroes/proj.win32/Debug.win32/WarHeroes.exe
