# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WarHeroes/proj.win32/WarHeroes.v12.suo
WarHeroes/proj.win32/WarHeroes.sdf
WarHeroes/proj.win32/WarHeroes.opensdf
WarHeroes/proj.win32/Debug.win32/*
WarHeroes/proj.android/*
WarHeroes/proj.ios_mac/*
WarHeroes/Resources/Player1.data
WarHeroes/Resources/Player2.data
WarHeroesServer/WarHeroesServer/WarHeroesServer.v12.suo
WarHeroesServer/WarHeroesServer/WarHeroesServer.sdf
WarHeroesServer/WarHeroesServer/WarHeroesServer.opensdf
WarHeroesServer/WarHeroesServer/Debug/*
WarHeroesServer/Debug/*
/WarHeroes/proj.win32/WarHeroes.VC.VC.opendb
/WarHeroesServer/WarHeroesServer.VC.VC.opendb
WarHeroesServer/WarHeroesServer.VC.db
WarHeroes/proj.win32/WarHeroes.VC.db
